
.sub-hero {
    background: url(../images/img6.jpg);
    background-position: bottom;
    height: 45vh;
    position: relative;
}

.sub-hero .overlay-img {
    width: 100%;
    height: 45vh;
    background: #000;
    opacity: 0.6;
    position: absolute;
}

.sub-hero .container {
    padding-top: 60px;
    height: 45vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-hero .container .row {
    width: 100%;
    z-index: 1;
}

.sub-hero .sub-content {
    z-index: 99;
}

.sub-hero h2 {
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
}

.sub-hero h3 {
    font-size: 16px;
    color: #fe4e37;
    margin-bottom: 0;
    letter-spacing: 1px;
}

main.body {
    background: #f9f9f9;
    border-top: 1px solid #e8e8e8;
}

main.body .search-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

main.body .search-results h4 {
    font-size: 20px;
    margin-bottom: 0;
}

main.body .search-results h4 span {
    color: #fe4e37;
}

main.body .search-results h5 {
    font-size: 16px;
    color: #fe4e37;
    margin-bottom: 0;
}

.search .search-bar-container {
    margin-top: 0;
    margin-bottom: 0;
}

.search {
    padding: 50px 15px;
    text-align: center;
    text-transform: uppercase;
}

.search label {
    padding-bottom: 15px;
}

.search .search-bar-container input {
    color: #000;
}

.page-link {
    color: #fe4e3d !important;
}

.page-link:focus {
    box-shadow: none !important;
}

.popular-item h3,
.popular-item p {
    color: #000;
}