#nav-bar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 999;
    width: 100%;
    color: #fff;
}

#main-nav-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.divider-line {
    background-color: rgb(231, 231, 231);
    width: 1px;
    height: 60px;
    flex: 0 0 auto;
}

.nav-divider {
    display: flex;
    width: 236px;
    align-items: stretch;
    flex: 0 0 auto;
}

.nav-divider.on-the-right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
}

.nav-item {
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    height: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-decoration: none;
    cursor: pointer;
}

.bottom-line {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    z-index: 1000;
    width: 100%;
    height: 1px;
    background-color: rgb(231, 231, 231);
}

.main-logo {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 100%;
    margin-left: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    text-decoration: none;
}

.main-logo svg {
    height: 40px;
}

.hamburger {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.mega-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
}

.mega-menu .overlay-menu {
    height: 100vh;
    z-index: 2;
    background-color: transparent;
    background-image: linear-gradient(220deg, #EA406F 19%, #FD5D47 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mega-menu .overlay-menu nav {
    width: 50%;
}

.mega-menu .overlay-menu nav a {
    display: block;
    padding: 5px 0;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.mega-menu .overlay-menu nav a:hover {
    color: #f39191;
}

.on-scroll-nav-bg {
    background: #fff;
    color: #000;
}

#svg-menu {
    width: 25px;
}

.hidden {
    display: none;
}

.st0.heart {
    fill: #fe4e37;
}

#nav-bar .on-the-right .nav-item svg {
    height: 20px;
    padding-right: 15px;
    width: auto;
}

#nav-bar .on-the-right .nav-item p {
    margin-bottom: 0;
}

#nav-bar .on-the-right .dropdown {
    width: 100%;
}

#nav-bar .on-the-right .dropdown-item.active, 
#nav-bar .on-the-right .dropdown-item:active {
    background-color: #fff;
    color: #fe4e37;
}

#nav-bar .on-the-right .dropdown-item.hover, 
#nav-bar .on-the-right .dropdown-item:hover {
    background-color: #fff;
    color: #fe4e37;
}

.dropdown-menu.show {
    display: block;
    width: 100% !important;
}