



h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

.fweight-400 {
    font-weight: 400;
}

.fweight-500 {
    font-weight: 500;
}

.fweight-600 {
    font-weight: 600;
}

.fweight-700 {
    font-weight: 700;
}

.pt-80 {
    padding: 80px 15px;
}

.btn {
    padding: 15px 40px !important;
    border-radius: 3px !important;
    font-size: 13px !important;
    letter-spacing: 1px !important;
}

.btn-main {
    background: #fe4e37 !important;
    color: #ffffff !important;
    border: 1px solid #fe4e37 !important;
}

.btn-sec {
    background: #F5F6F8 !important;
    color: #000000 !important;
    border: 1px solid #F5F6F8 !important;
}

.btn-sec:hover {
    background: #fe4e37 !important;
    color: #ffffff !important;
    border: 1px solid #fe4e37 !important;
}